---
import PostgreSQL from "@/images/postgresql.svg"
import Gleam from "@/images/gleam.svg"
import Bun from "@/images/bun.svg"
import Supabase from "@/images/supabase.svg"
import PocketBase from "@/images/pocket-base.svg"
import Hono from "@/images/hono.svg"
import NextjsLogo from "@/images/nextjs.svg"
import Git from "@/images/git.svg"
import Drizzle from "@/images/drizzle-orm_light.svg"
import Docker from "@/images/docker.svg"
import Biome from "@/images/biomejs.svg"
import AstroLogo from "@/images/astro.svg"
import { Image } from "astro:assets"
---
<section class=" mt-10">

    <h4 class=" text-sm text-gray-400 tracking-wide leading-6">TECHNOLOGIES</h4>

    <div class=" text-sm mt-4">

        <p class=" text-gray-600 dark:text-white tracking-wide leading-6">Here are some cool tools that I use all the time 

            <div class=" grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-2 mb-2">

                <a href="https://nextjs.org/" class="text-black dark:text-gray-300 font-semibold flex items-center gap-1">
                    <Image src={NextjsLogo} alt="nextjs logo" width={18} height={18} />
                    <p>Nextjs</p>
                </a>

                <a href="https://orm.drizzle.team/" class=" text-[#89F336] font-semibold flex items-center gap-1">
                    <Image src={Drizzle} alt="drizzle logo" width={20} height={20} />
                    <p>Drizzle</p>
                </a>

                <a href="https://hono.dev/" class=" text-[#ED2100] font-semibold flex items-center gap-1">
                    <Image src={Hono} alt="hono logo" width={12} height={12} />
                    <p>Hono</p>
                </a>

                <a href="https://supabase.com/" class="text-[#00CC66] font-semibold flex items-center gap-1">
                    <Image src={Supabase} alt="supabase logo" width={14} height={14} />
                    <p>Supabase</p>
                </a>

                <a href="https://biomejs.dev/" class=" text-[#6395EE] font-semibold flex items-center gap-1">
                    <Image src={Biome} alt="biome logo" width={16} height={16} />
                    <p>Biome</p>
                </a> 

                <a href="https://astro.build/" class=" text-[#E619B8] font-semibold flex items-center gap-1">
                    <Image src={AstroLogo} alt="astro logo" width={14} height={12} />
                    <p>Astro</p>
                </a>
                
                <a href="https://gleam.run/" class=" text-[#FF8DA1] font-semibold flex items-center gap-1">
                    <Image src={Gleam} alt="gleam logo" width={18} height={18} />
                    <p>Gleam</p>
                </a>

                <a href="https://bun.sh/" class=" text-[#949392] font-semibold flex items-center gap-1">
                    <Image src={Bun} alt="bun logo" width={18} height={18} />
                    <p>Bun</p>
                </a>

                <a href="https://www.postgresql.org/" class=" text-[#678DC6] font-semibold flex items-center gap-1">
                    <Image src={PostgreSQL} alt="postgres logo" width={18} height={18} />
                    <p>PostgreSQL</p>
                </a>

                <a href="https://pocketbase.io/" class=" text-[#CBBCAA] font-semibold flex items-center gap-1">
                    <Image src={PocketBase} alt="PocketBase logo" width={20} height={20} />
                    <p>PocketBase</p>
                </a>

                <a href="https://git-scm.com/" class=" text-[#007FFF] font-semibold flex items-center gap-1">
                    <Image src={Docker} alt="Docker logo" width={20} height={20} />
                    <p>Docker</p>
                </a>

                <a href="https://git-scm.com/" class=" text-[#FA5053] font-semibold flex items-center gap-1">
                    <Image src={Git} alt="Git logo" width={20} height={20} />
                    <p>Git</p>
                </a>

            </div>

            Have any tools I should check out?

        </p>

    </div>

</section>